eShopLegacyWinForms/src/eShopWinForms/Connected Services/eShopServiceReference/CatalogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CatalogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogBrand" nillable="true" type="tns:CatalogBrand" />
      <xs:element minOccurs="0" name="CatalogBrandId" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogType" nillable="true" type="tns:CatalogType" />
      <xs:element minOccurs="0" name="CatalogTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picturefilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogItem" nillable="true" type="tns:CatalogItem" />
  <xs:complexType name="CatalogBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogBrand" nillable="true" type="tns:CatalogBrand" />
  <xs:complexType name="CatalogType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogType" nillable="true" type="tns:CatalogType" />
  <xs:complexType name="ArrayOfCatalogBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogBrand" nillable="true" type="tns:CatalogBrand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogBrand" nillable="true" type="tns:ArrayOfCatalogBrand" />
  <xs:complexType name="ArrayOfCatalogItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogItem" nillable="true" type="tns:CatalogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogItem" nillable="true" type="tns:ArrayOfCatalogItem" />
  <xs:complexType name="ArrayOfCatalogType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogType" nillable="true" type="tns:CatalogType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogType" nillable="true" type="tns:ArrayOfCatalogType" />
  <xs:complexType name="DiscountItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscountItem" nillable="true" type="tns:DiscountItem" />
</xs:schema>