eShopLegacyWinForms/eShopWinForms/Connected Services/eShopServiceReference/CatalogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eShopWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eShopWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CatalogItemsStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableStock" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StockId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogItemsStock" nillable="true" type="tns:CatalogItemsStock" />
</xs:schema>