eShopLegacyWinForms/eShopWinForms/Connected Services/eShopServiceReference/CatalogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62314/CatalogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" />
  <xs:import schemaLocation="http://localhost:62314/CatalogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/eShopWCFService" />
  <xs:element name="FindCatalogItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCatalogItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="FindCatalogItemResult" nillable="true" type="q1:CatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="GetCatalogBrandsResult" nillable="true" type="q2:ArrayOfCatalogBrand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="brandIdFilter" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="typeIdFilter" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="GetCatalogItemsResult" nillable="true" type="q3:ArrayOfCatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="GetCatalogTypesResult" nillable="true" type="q4:ArrayOfCatalogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="catalogItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAvailableStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eShopWCFService" minOccurs="0" name="catalogItemsStock" nillable="true" type="q5:CatalogItemsStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAvailableStockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCatalogItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="catalogItem" nillable="true" type="q6:CatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCatalogItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalogItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="catalogItem" nillable="true" type="q7:CatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCatalogItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCatalogItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="catalogItem" nillable="true" type="q8:CatalogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCatalogItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eShopWCFService.Models" minOccurs="0" name="GetDiscountResult" nillable="true" type="q9:DiscountItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>